@import "../../styles/mixins";
@import "../../styles/variables";

.ToolsPage{
  @include container;
  padding: .8rem;

  & .title{
    @include subText;
    color: $cr-gray;
    & span{

      &:nth-child(1){
        font-size: 1.252rem;
      }
      &:nth-child(2){
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }
  }

  & .list{

  }

  & .listBlock{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @media (min-width: $page-width-tab) {
      @include block;
    }

    &:hover{
      background-color: $cr-dark-blue;
    }

    & .image{
      border: 1px solid $cr-gray;
      border-radius: 3px;
      margin: auto;

      & img{
        width: 15rem;
        height: auto;
        margin: auto;
        display: block;
      }

    }

    & .data{
      width: 100%;


      @media (min-width: $page-width-mobile-xl) {
        width: 50%;
      }
      @media (min-width: $page-width-tab) {
        width: 70%;
        padding-left: 1.8rem;
      }

      & h3{
        font-size: 1rem;

        @media (min-width: $page-width-mobile-m) {
          font-size: 1.17em;
        }
      }

    }
  }
}