@import "../../styles/mixins";
@import "../../styles/variables";


.AboutPage{
  padding: .8rem;


  & .title{
    @include titleP;
  }

  & .content{
    @include container;
    padding: 1rem;

    & ul{

      & li{
        list-style-type: "🔸";
      }
    }
  }


}