@import "../../styles/mixins";
@import "../../styles/variables";



.ContactPage{
  padding: .8rem;

  & .title{
    @include titleP;
  }

  & .icon{
    width: 3rem;
    height: 3rem;
    fill:$cr-azure;

    &:hover{
      fill: $cr-gray-light;
    }
  }

}